p, h1, h2, h3, th, td, input, select {
  font-family:  Noto Sans;
}

.box {
  width: 400px; 
  /* padding: 20px; */
  position: absolute;   
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display:inline-block;
}

.box .card {
  width: 400px;
  min-height: 50px; 
  background-color: #FFFF; 
  border: none;
  border-radius: 10px;
  padding: 20px;
  /* margin-right: -60px; */
  z-index: 1;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.30);
}

#label {
  display: flex;
  text-align: left;
  margin-bottom: 12px;
  font-weight: bold;
}

/* .form-control {
  border-color: #70B7F4;
  border-radius: 10px;
} */

input.line {
  border: none;
  border-bottom: 2px solid #5677D0;
  background: transparent;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

.active, input[type='text'] {
  border: none;
  border-bottom: 2px solid #5677D0;
  background: transparent;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

.left {
  z-index: 1;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.20);
}

.right {
  background-image: linear-gradient(to bottom left, #5677D0, #01DEC0);
  height:100vh;
  justify-content: center;
  align-items: center; 
}

#login-btn {
  border: solid;
  border-width: 1px;
  border-color: #70B7F4;
  background-color: #5677D0;
  color: #FFFF;
  border-radius: 10px;
  height: 40px;
  padding: 0px;
  width: 100px;
  font-size: 16px;
}

#login-btn:hover {
  background-image: linear-gradient(to bottom left, #5677D0, #01DEC0);
  font-weight: 500;
}

#logo img {
  height: 100px;
  position: absolute;   
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display:inline-block;
}

.group {
  position: relative;
}

.fa {
  position: absolute;
  bottom: 16px;
  float: right;
  left: 338px;
  cursor: pointer;
}