p, h1, h2, h3, th, td, input, select {
  font-family:  Noto Sans;
}

.box {
  width: 400px; 
  /* padding: 20px; */
  position: absolute;   
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display:inline-block;
}

.box .card {
  width: 400px;
  min-height: 50px; 
  background-color: #FFFF; 
  border: none;
  border-radius: 10px;
  padding: 20px;
  /* margin-right: -60px; */
  z-index: 1;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.30);
}

body, html {
  height: 100%;
  margin: 0;
}

#img-headline-style img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 0;
  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#label {
  display: flex;
  text-align: left;
  margin-bottom: 12px;
  font-weight: bold;
}

/* .form-control {
  border-color: #70B7F4;
  border-radius: 10px;
} */

input.line {
  border: none;
  border-bottom: 2px solid #5677D0;
  background: transparent;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

#login-btn {
  border: solid;
  border-width: 1px;
  border-color: #70B7F4;
  background-color: #5677D0;
  color: #FFFF;
  border-radius: 10px;
  height: 40px;
  padding: 0px;
  width: 100px;
  font-size: 16px;
}

#login-btn:hover {
  background-image: linear-gradient(to bottom left, #5677D0, #01DEC0);
  font-weight: 500;
}

#main-icon {
  /* padding: 10px; */
  text-align: center;
  display:inline-block;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: -60px;
  z-index: 2;
}